@import "~cube-ui/src/common/stylus/variable.styl"

$color-theme = rgba(0, 169, 236, 1)
$color-theme-d = #f4f4f4
$color-background = #ffffff
$color-background-back-s = rgba(0, 0, 0, .6)

$color-title = #050505
$color-title-d = #7f7f7f
$color-title-s = #777777
$color-star = #ffe659
$color-like = #fe7a3a

$color-box-shadow = #d7d7d7

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
